<div id="footer">
        <ul>
                <li><a href="http://twitter.com/foldmy">Twitter</a></li>
                <li><a href="http://ditesh.gathani.org/blog">Blog</a></li>
                <li><a:webroot href="/contact">Contact</a></li>
                <li><a:webroot href="/site-policies">Site Policies</a></li>
                <li><a:webroot href="/faq">FAQ</a></li>
                <li><a:webroot href="/careers">Careers</a></li>
                <li><a:webroot href="/about">About</a></li>
        </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script:webroot src="/resources/js/main.js"></script>
<script:webroot src="/resources/js/jquery.inputmsg.js"></script>
<script:webroot src="/resources/js/jquery.validation.js"></script>
<include:js />
<script>
        $(document).ready(function() {
		<include:jstemplate />
        });
</script>
</body>
</html>
