<!DOCTYPE html>
<html>
<!-- The enemy's gate is down -->
<head>
	<title>{title}</title>
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link:webroot href="/resources/css/main.css" media="all" rel="stylesheet" type="text/css" />
	<include:css />
	<link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
	<link href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold" rel="stylesheet" type="text/css" >
	<link href="http://fonts.googleapis.com/css?family=Dancing+Script:regular,bold" rel="stylesheet" type="text/css" >

</head>
<body>
